*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.Sign-in{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sign-up{
    text-align: center;
    padding-left: 40px;
}

a{
    text-decoration: none;
    color: rgb(85, 82, 82);
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.left-form{
    background-color: rgba(240, 248, 255, 0.421);
    border: 1px solid rgba(128, 128, 128, 0.245);
    border-radius: 35px 0px 0px 35px;
    padding: 10px 60px 20px 60px;
}

.right-form{
    background-color: rgba(47, 145, 185, 0.426);
    width: 410px;
    border: 1px solid rgba(128, 128, 128, 0.245);
    border-radius: 0px 35px 35px 0px;
    padding: 65px;
    color: rgb(255, 255, 255);
}

.Sign-in-with i{
    border: 2px lightblue solid;
    border-radius: 50px;
    font-size: 28px;
}

.Sign-in-with i:hover{
    background-color: rgb(132, 229, 229);
}

.or-message{
    font-size: 15px;
    color: rgb(81, 73, 73);
}

input{
    border-radius: 20px;
    padding: 12px;
    width: 250px;
    font-size: 18px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.539);
    background-color: rgba(191, 171, 171, 0.255);
}

.right-form p{
    font-size: 15px;
    padding-bottom: 30px;
}

.right-form h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-form .submit{
    padding-bottom: 20px;
}

.forgot{
    padding-bottom: 10px;
    font-size: 15px;
}

.submit button{
    padding: 15px;
    border-radius: 30px;
    color: white;
    background-color: rgb(21, 181, 244);
    font-size: 15px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: rgb(99, 185, 219);
}