*{
    font-family:Arial, Helvetica, sans-serif ;
}

body{
    background: linear-gradient(rgb(255, 0, 0), rgb(30, 0, 255));
    background-attachment: fixed;
}

form{
    border: 3px solid rgba(107, 127, 155, 0.442);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: transparent;
    margin-top: 60px;
    margin-bottom: 60px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.163);
}

.sign-up{
    text-align: center;
    color: white;
}

input{
    background-color: transparent;
    width: 300px;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.372);
    padding: 20px;
    color: aliceblue;
    font-size: 15px;
    outline: 0;
}

input::placeholder{
    color: aliceblue;
    font-size: 15px;
}

button{
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 255, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.43);
    border-radius: 15px;
    color: aliceblue;
    font-size: 20px;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.559);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

