.details1{
    display: flex;
    margin-left: 50px;
    color: rgb(50, 47, 47);
    font-size: 18px;
}

.details1 img{
    position: absolute;
    margin-left: 73%;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin-top: 20px;
    float: right;
}

.details1 p a{
    text-decoration: none;
    color: rgb(50, 47, 47);
}

.details1 p a:hover{
    text-decoration: underline;
}

.details1 p strong{
    font-size: 25px;
    color: black;
}

#name{
    font-size: 35px;
}

.summary-title{
    text-align: center;
}

.summary p{
    text-align: justify;
    margin-right: 20px;
}

.summary{
    margin-left: 20px;
}

.section{
    margin-left: 50px;
    
}

.section-title{
    text-align: center;
    background-color: rgb(168, 192, 197);
    padding: 5px 0px 5px 0px;
    margin-right: 50px;
}

.in-section{
    text-align: justify;
    margin-right: 50px;
    font-size: 20px;
}

.in-section strong,
.in-section p {
  margin: 10px 0;       
  line-height: 1.2;
  font-size: 18px;
}

.skill-in-section{
    display: flex;
    gap: 20px;
}

.skill-in-section{
    list-style-type: disc;
}


.skill-list-right{
    padding-left: 50%;
}

.skill-list-right1{
    padding-left: 44.8%;
}

.body{
    border: 2px solid rgba(32, 130, 148, 0.329);
    margin: 2px 50px 2px 50px;
    border-radius: 20px;
}