*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
}

h1 span,
h2 span{
    color: teal;
}

.small-line{
    padding: 2px;
    border-radius: 5px;
    width: 60px;
    float: left;
    background-color: teal;
}

.title{
    display: flex;
}

.title-left{
    text-align: justify;
    padding: 5px;
    margin-right: 20%;
    width: 50%;
}

.title-left p{
    font-size: 20px;
}

.title-right{
    float: right;
    margin-top: 80px;
}
.title-right h3{
    float: right;
}

.title-right div{
    float: right;
    font-size: 25px;
}
.title-right div .date{
    padding: 5px 5px 0px 5px;
    margin: 1px;
}

.title-right div .slash{
    font-size: 30px;
}

.date{
    width:10px;
}

.line,
.container-1-flex,
.container-2-flex,
.footer{
    display: flex;
}

#line1 hr{
    width: 100px;
    margin-right: 80px;
    margin-left: 20px;
    border: none;
    border-bottom: 0.2px solid black;
}

.line{
    margin-top: 30px;
    font-size: 16.9px;
}

.footer{
    margin-top: 20px;
}

#line2 hr{
    width: 100px;
    border: none;
    border-bottom: 0.2px solid black;
}

.container-1 div{
    font-size: 23px;
}

#fname{
    font-size: 20px;
    width: 77.5%;
    margin-left: 58px;
    margin-bottom: 10px;
}

#input2{
    font-size: 20px;
    margin-left: 60px;
}

.container-1-right{
    margin-left: 50px;
}

input{
    font-size: 20px;
}

.container-1-flex div{
    margin-bottom: 10px;
}

#POB{
    margin-left: 22px;
}

#dob{
    margin-left: 30px;
}

#dob, .date{
    padding: 1px 5px 0px 5px;
    margin-right: 1px;
}

#dob, .slash{
    font-size: 23px;
}

.container-1 div, .container-1 div div{
    line-height: 0.;
}

#NAT{
    margin-left: 57px;
}

#email{
    margin-left: 105px;
}

.gender{
    margin-left: 85px;
}

#ms{
    margin-left: 20px;
}

#country{
    margin-left: 80px;
}

#nid{
    margin-left: 9px;
}

#dom{
    margin-left: 76px;
}

#cpd{
    margin-left: 39px;
}

#start-time{
    margin-left: 59px;
}

#pc{
    margin-left: 56px;
}

#ph{
    margin-left: 97px;
}

#pr-add{
    width: 76%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container-2 div{
    font-size: 23px;
}

.container-2-left div, .container-2-right div{
    margin-bottom: 10px;
}

.container-2-right{
    margin-left: 4%;
}

#city{
    margin-left: 92px;
}

#zip{
    margin-left: 84px;
}

#pr-state{
    margin-left: 24px;
}

#st-tr{
    margin-left: 1px;
}

.right-panel{
    margin-left: 27%;
}

.right-panel div{
    margin-bottom: 10px;
}

.right-panel h3{
    margin-top: 60px;
}