body{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(OIP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    margin-top: 65px;
    margin-bottom: 65px;
}

.left-panel{
    background-color: rgba(5, 21, 37, 0.796);
    color: white;
    padding: 20px;
    font-size: 15px;
}

.details{
    padding: 15px;
}

.left-panel hr{
    float: left;
    width: 350px;
    align-items: center;
    margin-bottom: 25px;
}

.left-panel h1{
    margin-bottom: 30px;
}

.left-panel,.container{
    line-height: 1.6px;
}

.right-panel{
    background-color: rgba(255, 255, 255, 0.778);
    padding: 5px;
    width: 500px;
}

.right-panel h1{
    text-align: center;
    margin: 40px;
}

.symbols{
    margin-top: 190px;
    text-align: center;
    font-size: 27px;
    color:white;
}

#facebook,
#twitter,
#instagram,
#youtube{
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}

#facebook:hover{
    color: rgba(54, 54, 198, 0.8);
}

#twitter:hover{
    color: lightseagreen;
}

#instagram:hover{
    color: rgba(230, 18, 99, 0.957);
}

#youtube:hover{
    color:red;
}

.input{
    padding: 15px;
}

.input p{
    font-size: 15px;
    color: rgb(80, 77, 77);
}

.input input{
    font-size: large;
    width: 90%;
    border: none;
    padding: 10px;
    outline: 1px;
    border-bottom: 1px solid gray;
}

#message{
    padding: 15px;
    height: 100px;
}

#message p{
    font-size: 15px;
    color: rgb(80, 77, 77);
}


#message textarea{
    font-size: 18px;
    background: white;
    width: 90%;
    border: none;
    padding: 10px;
    outline: 1px;
    border-bottom: 1px solid gray;
}

.Submit{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    padding-bottom: 10px;
}

.btn{
    padding: 12px;
    font-size: 20px;
    border: none;
    color: aliceblue;
    background-color: rgba(23, 39, 84, 0.796);
    width: 100%;
}

.btn:hover{
    background-color: rgb(48, 151, 192);
    color: black;
    transition-duration: 0.2s;
}